<ion-card no-margin>
  <ion-item *ngIf="translation.location">
  <ion-icon name="pin" slot="start"></ion-icon>
  <ion-label>{{locationName}}</ion-label>
  <ion-button fill="outline" slot="end" (click)="route()">Route</ion-button>
  </ion-item>
  <ion-card-header>
    <ion-card-subtitle>From {{from}} to {{to}}
    </ion-card-subtitle>
    <ion-card-title>{{text}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <h1 [innerHtml]='translatedText'></h1>
  </ion-card-content>
</ion-card>