<ion-list *ngIf="recentMemos">
  <ion-item text-center><a href='/tabs/(memos:memos)'>View all</a></ion-item>
  <app-translation *ngFor="let t of recents" [translation]="t" ></app-translation>
  <app-translation *ngIf="last" [translation]="last" ></app-translation>
</ion-list> 