<ion-content>
  <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="imageSrc" *ngIf="image"></angular-cropper>
</ion-content>
<ion-footer no-shadow>
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="save()">
          <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col size="5" align-self-start>
        <a (click)="cancel()">Cancel</a>
      </ion-col>
      <ion-col size="4" align-self-center>
          <a (click)="rotate()">Rotate</a>

        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>