<ion-header>
  <ion-toolbar>
    <ion-title>Tourist helper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card-header no-padding>
    <ion-card-subtitle *ngIf="recentMemosModel">3 recent translated memos </ion-card-subtitle>
  </ion-card-header>
  <ion-grid>
    <ion-row class="recents-row">
      <ion-col size="12">
        <ion-content #recents>
          <app-recent-memos *ngIf='isRecentMemosLoaded' [recentMemos]='recentMemosModel'></app-recent-memos>
          <ion-row *ngIf='!isRecentMemosLoaded' justify-content-center align-items-center style="height: 100%">
            <ion-spinner class="center" name="dots"></ion-spinner>
          </ion-row>
        </ion-content>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-button expand="full" (click)="selectFrom()">
          {{from}}
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="full" (click)="swap()">
          <ion-icon slot="icon-only" name="swap"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button expand="full" (click)="selectTo()">
          {{to}}
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
<ion-footer>
    <ion-row>
        <ion-col size="9" align-self-center>
          <ion-item>
            <ion-spinner class="center" *ngIf="isRecognizing" name="dots"></ion-spinner>
            <ng-container *ngIf="!isRecognizing">
              <ion-label position="stacked">Text to recognize</ion-label>
              <ion-textarea class="translate-textarea" [value]='typedText' (input)="delayTranslate($event.target.value)"
                (click)="scrollToBottom()" spellcheck="true"></ion-textarea>
            </ng-container>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-row justify-content-center align-items-center>
            <label class="address-label center">Save as address</label>
            <ion-toggle class="center" color="medium" [(ngModel)]="isAddressRecognition"></ion-toggle>
          </ion-row>
            <ion-row justify-content-center align-items-center>
              <ion-fab-button class="center" (click)="translateFromPhoto()">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-row>
          </ion-col>
      </ion-row>
</ion-footer>
