.recents-row {
    max-height: 54vh;
    ion-col {
        max-height: 54vh;
        ion-content {
            height: 54vh;
        }
    }
}
.translate-textarea {
    min-height: 10vh;
}
.address-label {
    font-size: 0.6em;
}
app-recent-memos {
    display: block;
}
